<?xml version="1.0"?>
<config>
    <modules>
        <Zikkio_Zikkio>
            <version>1.0.4</version>
        </Zikkio_Zikkio>
    </modules>
    <global>        
        <events>
            <admin_system_config_section_save_after>
                <observers>
                    <zikkio_zikkio_save_api_zikkio>
                        <type>singleton</type>
                        <class>Zikkio_Zikkio_Model_Observer</class>
                        <method>saveApiKey</method>
                    </zikkio_zikkio_save_api_zikkio>
                </observers>
            </admin_system_config_section_save_after>
        </events>
        <models>
            <zikkio>
                <class>Zikkio_Zikkio_Model</class>
            </zikkio>
        </models>
		
		 <helpers>
            <zikkio>
                <class>Zikkio_Zikkio_Helper</class>
            </zikkio>
        </helpers>
    </global>
</config> 