<?xml version="1.0"?>
<config>
    <modules>
        <Zikkio_Zikkio>
            <version>1.0.3</version>
            <depends>
            <!-- no dependencies -->
            </depends>
        </Zikkio_Zikkio>
    </modules>
    <global>        
        <events>
            <admin_system_config_section_save_after>
                <observers>
                    <Zikkio_Zikkio_save_api_zikkio>
                        <type>singleton</type>
                        <class>Zikkio_Zikkio_Model_Observer</class>
                        <method>saveApiKey</method>
                    </Zikkio_Zikkio_save_api_zikkio>
                </observers>
            </admin_system_config_section_save_after>
        </events>
        <models>
            <Zikkio>
                <class>Zikkio_Zikkio_Model</class>
            </Zikkio>
        </models>
        <resources />
        <extraconfig />
        <blocks />
    </global>
</config> 