<?xml version="1.0"?>
<config>
    <tabs>
        <zikkio_settings translate="label" module="zikkio">
            <label>Zikkio</label>
            <sort_order>200</sort_order>
        </zikkio_settings>
    </tabs>
     
    <sections>
        <zikkio_settings translate="label" module="zikkio">
            <label>Zikkio Settings</label>
            <tab>zikkio_settings</tab>
            <frontend_type>text</frontend_type>
            <sort_order>2000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <zikkio_api translate="label">
                    <label>Zikkio API</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                
                    <fields>
                        <zikkio_api translate="label">
                            <label>Please enter here your Zikkio API KEY</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Insert here the API KEY</comment>
                        </zikkio_api>
                    </fields>
                </zikkio_api>
                <!--
                <section_two translate="label">
                    <label>Section One</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                
                    <fields>
                        <custom_field_one>
                            <label>Custom Text Field</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Example of text field.</comment>                   
                        </custom_field_one>
                    </fields>
                </section_two>
                -->
            </groups>                
        </zikkio_settings>
    </sections>
</config>